.App {
  background-color: #EAEAEA;
  align-items: center;
  margin: 0 auto;
}

.section {
  flex-direction: column;
}

.container-default {
  max-width: 1376px;
  margin: 0 100px;
}

.button {
  background-color: #3C4048;
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 2px solid #555555;
}

.button:hover {
  background-color: #555555;
  color: #FCE700;
}

.App p {
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

.inner-container-full {
  padding: 50px 40px;
  text-align: center;
  border: 2px solid #555555;
  margin: 10px 10px;
  border-radius: 10px;
}

.inner-container {
  padding: 50px 40px;
  margin: 10px 10px;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  border: 2px solid #555555;
}

.grid-section {
  display: flex;
}

.App input {
  padding: 10px 20px;
  min-width: 200px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #555555;
}

.App b {
  font-size: 1.2rem;
  font-weight: 500;
}