.footer {
    margin-top: 4rem;
    background-color: #000000;
    padding: 40px 0;
    text-align: center;
    align-items: center;
}

.footer-container {
    margin: auto;
    max-width: 1376px;
}

.footer-link {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

.footer-link a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 30px;
    text-decoration: none;
}

.footer-link a:hover {
    color: #5e5d5d;
}

.footer-container p {
    color: #fff;
    font-size: 1rem;
}

