.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.buttons-container-single {
  padding: 30px 0;
}

.section {
  padding:50px 140px;
  min-height: 80vh;
}

.container-default {
  margin: 0 auto;
  max-width: 1376px;
}

.container-default h1 {
  font-size: 3rem;
  font-weight: 900;
}

.input-container {
  margin-top: 2rem;
}

.input-container-single {
  margin-top: 2rem;
  max-width: 565px;;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  max-width: 1200px;
  owerflow: hidden;
}

.inner-container-left {
  text-align: left;
}

.inner-container-right {
  text-align: left;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.inner-container h2 {
  font-size: 2.1rem;
  font-weight: 900;
}

.employees-list h2 {
  text-align: left;
}


